<!DOCTYPE html>

<html lang="en">
<head>
    {{template "css"}}
    {{template "header-css" .Header.Options}}
    {{template "section-css" .Section.Options}}
    {{template "footer-css" .Footer.Options}}
    <title>Template Site</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400;1,500&display=swap"
          rel="stylesheet">
</head>
<body>
<div class="container">
    {{template "header" .Header.Options}}
    {{template "section" .Section.Options}}
    {{template "footer" .Footer.Options}}
</div>
</body>
</html>