{{if hasPermission "feature-a"}}
    User has permissions for feature a.
{{else}}
    User has no permissions for feature a.
{{end}}

{{if hasPermission "feature-b"}}
    User has permissions for feature b.
{{else}}
    User has no permissions for feature b.
{{end}}
